Repository TrainerDex/Website, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, frontend, gains, backend, migrations

.github/labeler.yml:

dependencies:
  - Pipfile
  - Pipfile.lock

frontend:
  - "core/templates/**/*"
  - "core/static/**/*"
  - "pokemongo/templates/**/*"
  - "pokemongo/static/**/*"

gains:
  - "core/management/commands/gains_leaderboard.py"
  - "core/management/commands/post_announcement.py"

backend:
  - "core/account_adapter.py"
  - "core/admin.py"
  - "core/context_processors.py"
  - "core/models.py"
  - "core/views.py"
  - "pokemongo/api/**/*"
  - "pokemongo/admin.py"
  - "pokemongo/forms.py"
  - "pokemongo/models.py"
  - "pokemongo/shortcuts.py"
  - "pokemongo/urls.py"
  - "pokemongo/validators.py"
  - "pokemongo/views.py"

migrations:
  - "core/migrations/*"
  - "pokemongo/migrations/*"

Switch to ZoneInfo
  core/migrations/0005_switch_to_zoneinfo.py
  core/models/discord.py
  pokemongo/management/commands/post_announcement.py
  pokemongo/migrations/0009_switch_to_zoneinfo.py
  pokemongo/models.py
Labels: backend, migrations

Remove deprecated setting
  config/settings.py
Labels: none

Remove unused dependency
  Pipfile
  Pipfile.lock
  config/urls.py
Labels: dependencies

Update django-cors-headers
  Pipfile
  Pipfile.lock
Labels: dependencies

Update django-widget-tweaks
  Pipfile
  Pipfile.lock
Labels: dependencies

Update django-silk
  Pipfile
  Pipfile.lock
Labels: dependencies

Update django-allow-cidr
  Pipfile
  Pipfile.lock
Labels: dependencies

Remove unused dependencies
  Pipfile
  Pipfile.lock
Labels: dependencies

Update django-robots
  Pipfile
  Pipfile.lock
Labels: dependencies

Unlock python-dateutil
  Pipfile
  Pipfile.lock
Labels: dependencies

Adjust CORS settings
  config/settings.py
Labels: none

Remove choices from timezone field
  core/migrations/0005_remove_timezone_choices.py
  core/migrations/0005_switch_to_zoneinfo.py
  core/models/discord.py
  pokemongo/migrations/0009_remove_timezone_choices.py
  pokemongo/migrations/0009_switch_to_zoneinfo.py
  pokemongo/models.py
Labels: backend, migrations
