Repository TrainerDex/Website, changes with the labels that .github/labeler.yml gives for each.
All labels: pip, dependencies, frontend, gains, backend, migrations

.github/labeler.yml:

pip:
  - requirements.txt
  - requirements-dev.txt

dependencies:
  - requirements.txt
  - requirements-dev.txt

frontend:
  - 'django/core/templates/**/*'
  - 'django/core/static/**/*'
  - 'django/pokemongo/templates/**/*'
  - 'django/pokemongo/static/**/*'

gains:
  - 'django/core/management/commands/gains_leaderboard.py'
  - 'django/core/management/commands/post_announcement.py'

backend:
  - 'django/core/account_adapter.py'
  - 'django/core/admin.py'
  - 'django/core/context_processors.py'
  - 'django/core/models.py'
  - 'django/core/views.py'
  - 'django/pokemongo/api/**/*'
  - 'django/pokemongo/admin.py'
  - 'django/pokemongo/forms.py'
  - 'django/pokemongo/models.py'
  - 'django/pokemongo/shortcuts.py'
  - 'django/pokemongo/urls.py'
  - 'django/pokemongo/validators.py'
  - 'django/pokemongo/views.py'

migrations:
  - 'django/core/migrations/*'
  - 'django/pokemongo/migrations/*'

chore: set wakatime project name
  .wakatime-project
Labels: none

chore: update gitignore
  .gitignore
Labels: none

chore: update workflows
  .github/workflows/django.yml
  .github/workflows/lint.yml
Labels: none

chore: add FUNDING.yml
  .github/FUNDING.yml
Labels: none

chore: fix blacken workflow
  .github/workflows/lint.yml
Labels: none

Fix security bug
  django/requirements.txt
Labels: none

chore: fix dependabot
  .github/dependabot.yml
Labels: none

Mergify: configuration update
  .mergify.yml
Labels: none

Mergify: configuration update
  .mergify.yml
Labels: none

Update .mergify.yml
  .mergify.yml
Labels: none

style: Reformat requirements.txt
  django/requirements.txt
Labels: none

Update Wakatime Config
  .wakatime-project
Labels: none

Create LICENSE
  LICENSE
Labels: none

Working with envs
  .env.example
  .github/dependabot.yml
  .gitignore
  .vscode/settings.json
  Pipfile
  Pipfile.lock
  django/Dockerfile
  django/build_db.sh
  django/core/migrations/0028_timezones.py
  django/pokemongo/migrations/0051_BigInt.py
  django/pokemongo/migrations/0051_auto_20210525_1948.py
  django/pokemongo/migrations/0052_timezones.py
  django/pokemongo/models.py
  django/requirements.txt
  django/trainerdex/settings.py
  django/trainerdex/wsgi.py
  docker-compose.yml
  docker/docker-compose.yml
Labels: backend, migrations

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

deps: unlock humanize and pendulum
  Pipfile
  Pipfile.lock
Labels: none

chore: fix workflows
  .env.example
  .github/workflows/crowdin.yml
  .github/workflows/django.yml
  Pipfile
  Pipfile.lock
  django/build_db.sh
Labels: none

fix: fix big ints and such
  django/pokemongo/migrations/0053_auto_20211204_2205.py
  django/pokemongo/models.py
Labels: backend, migrations

fix: profile load error
  django/pokemongo/views.py
  robots.txt
Labels: backend

chore: update translations via Crowdin
  trainerdex/locale/de_DE/LC_MESSAGES/django.po
  trainerdex/locale/en_GB/LC_MESSAGES/django.po
  trainerdex/locale/en_US/LC_MESSAGES/django.po
  trainerdex/locale/es_ES/LC_MESSAGES/django.po
  trainerdex/locale/fr_FR/LC_MESSAGES/django.po
  trainerdex/locale/it_IT/LC_MESSAGES/django.po
  trainerdex/locale/ja_JP/LC_MESSAGES/django.po
  trainerdex/locale/ko_KR/LC_MESSAGES/django.po
  trainerdex/locale/nl_BE/LC_MESSAGES/django.po
  trainerdex/locale/pt_BR/LC_MESSAGES/django.po
  trainerdex/locale/ru_RU/LC_MESSAGES/django.po
  trainerdex/locale/th_TH/LC_MESSAGES/django.po
  trainerdex/locale/zh_HK/LC_MESSAGES/django.po
Labels: none

chore: update translations via Crowdin
  trainerdex/locale/de_DE/LC_MESSAGES/django.po
  trainerdex/locale/en_GB/LC_MESSAGES/django.po
  trainerdex/locale/en_US/LC_MESSAGES/django.po
  trainerdex/locale/es_ES/LC_MESSAGES/django.po
  trainerdex/locale/fr_FR/LC_MESSAGES/django.po
  trainerdex/locale/it_IT/LC_MESSAGES/django.po
  trainerdex/locale/ja_JP/LC_MESSAGES/django.po
  trainerdex/locale/ko_KR/LC_MESSAGES/django.po
  trainerdex/locale/nl_BE/LC_MESSAGES/django.po
  trainerdex/locale/pt_BR/LC_MESSAGES/django.po
  trainerdex/locale/ru_RU/LC_MESSAGES/django.po
  trainerdex/locale/th_TH/LC_MESSAGES/django.po
  trainerdex/locale/zh_HK/LC_MESSAGES/django.po
Labels: none

deps: lock deps
  Pipfile
  Pipfile.lock
Labels: none

Update readme.md
  readme.md
Labels: none

Remove stuff for helpdesk
  django/config/settings.py
Labels: none
