Repository TrainerDex/Website, changes with the labels that .github/labeler.yml gives for each.
All labels: pip, dependencies, frontend, gains, backend, migrations

.github/labeler.yml:

pip:
  - requirements.txt
  - requirements-dev.txt

dependencies:
  - requirements.txt
  - requirements-dev.txt

frontend:
  - "zapdos/core/templates/**/*"
  - "zapdos/core/static/**/*"
  - "zapdos/pokemongo/templates/**/*"
  - "zapdos/pokemongo/static/**/*"

gains:
  - "zapdos/core/management/commands/gains_leaderboard.py"
  - "zapdos/core/management/commands/post_announcement.py"

backend:
  - "zapdos/core/account_adapter.py"
  - "zapdos/core/admin.py"
  - "zapdos/core/context_processors.py"
  - "zapdos/core/models.py"
  - "zapdos/core/views.py"
  - "zapdos/pokemongo/api/**/*"
  - "zapdos/pokemongo/admin.py"
  - "zapdos/pokemongo/forms.py"
  - "zapdos/pokemongo/models.py"
  - "zapdos/pokemongo/shortcuts.py"
  - "zapdos/pokemongo/urls.py"
  - "zapdos/pokemongo/validators.py"
  - "zapdos/pokemongo/views.py"

migrations:
  - "zapdos/core/migrations/*"
  - "zapdos/pokemongo/migrations/*"

Fix import path for static files
  zapdos/pokemongo/models.py
Labels: backend

Major changes
  Pipfile
  Pipfile.lock
  zapdos/common/__init__.py
  zapdos/common/admin.py
  zapdos/common/apps.py
  zapdos/common/migrations/0001_initial.py
  zapdos/common/migrations/0002_initial.py
  zapdos/common/migrations/__init__.py
  zapdos/common/models.py
  zapdos/common/views.py
  zapdos/config/asgi.py
  zapdos/config/context_processors.py
  zapdos/config/permissions.py
  zapdos/config/settings.py
  zapdos/config/urls.py
  zapdos/config/wsgi.py
  zapdos/core/admin.py
  zapdos/core/context_processors.py
  zapdos/core/migrations/0001_initial.py
  zapdos/core/models.py
  zapdos/core/sitemaps.py
  zapdos/manage.py
  zapdos/pokemongo/admin.py
  zapdos/pokemongo/api/v1/__init__.py
  zapdos/pokemongo/api/v1/serializers.py
  zapdos/pokemongo/api/v1/urls.py
  zapdos/pokemongo/api/v1/views.py
  zapdos/pokemongo/constants.py
  zapdos/pokemongo/forms.py
  zapdos/pokemongo/functions.py
  zapdos/pokemongo/management/commands/assign_level_40_badges.py
  zapdos/pokemongo/management/commands/gains_leaderboard.py
  zapdos/pokemongo/management/commands/gym_leaderboard.py
  zapdos/pokemongo/models.py
  zapdos/pokemongo/shortcuts.py
  zapdos/pokemongo/urls.py
  zapdos/pokemongo/utils.py
  zapdos/pokemongo/validators.py
  zapdos/pokemongo/views.py
Labels: backend, migrations

Fix User.is_banned
  zapdos/common/models.py
Labels: none

Delete label.yml
  .github/workflows/label.yml
Labels: none

Changes
  Pipfile
  Pipfile.lock
  setup.sh
  zapdos/common/admin.py
  zapdos/common/migrations/0001_initial.py
  zapdos/common/migrations/0002_initial.py
  zapdos/common/models.py
  zapdos/pokemongo/admin.py
  zapdos/pokemongo/fixtures/factions.yaml
  zapdos/pokemongo/migrations/0001_initial.py
  zapdos/pokemongo/models.py
Labels: backend, migrations

Update label.yml
  .github/workflows/label.yml
Labels: none

chore: update translations via Crowdin
  django/trainerdex/locale/de_DE/LC_MESSAGES/django.po
  django/trainerdex/locale/en_GB/LC_MESSAGES/django.po
  django/trainerdex/locale/en_US/LC_MESSAGES/django.po
  django/trainerdex/locale/es_ES/LC_MESSAGES/django.po
  django/trainerdex/locale/fr_FR/LC_MESSAGES/django.po
  django/trainerdex/locale/it_IT/LC_MESSAGES/django.po
  django/trainerdex/locale/ja_JP/LC_MESSAGES/django.po
  django/trainerdex/locale/ko_KR/LC_MESSAGES/django.po
  django/trainerdex/locale/pt_BR/LC_MESSAGES/django.po
  django/trainerdex/locale/ru_RU/LC_MESSAGES/django.po
  django/trainerdex/locale/th_TH/LC_MESSAGES/django.po
  django/trainerdex/locale/zh_HK/LC_MESSAGES/django.po
  trainerdex/locale/de_DE/LC_MESSAGES/django.po
  trainerdex/locale/en_GB/LC_MESSAGES/django.po
  trainerdex/locale/en_US/LC_MESSAGES/django.po
  trainerdex/locale/es_ES/LC_MESSAGES/django.po
  trainerdex/locale/fr_FR/LC_MESSAGES/django.po
  trainerdex/locale/it_IT/LC_MESSAGES/django.po
  trainerdex/locale/ja_JP/LC_MESSAGES/django.po
  trainerdex/locale/ko_KR/LC_MESSAGES/django.po
  trainerdex/locale/nl_BE/LC_MESSAGES/django.po
  trainerdex/locale/pt_BR/LC_MESSAGES/django.po
  trainerdex/locale/ru_RU/LC_MESSAGES/django.po
  trainerdex/locale/th_TH/LC_MESSAGES/django.po
  trainerdex/locale/zh_HK/LC_MESSAGES/django.po
Labels: none

chore: update translations via Crowdin
  django/trainerdex/locale/de_DE/LC_MESSAGES/django.po
  django/trainerdex/locale/en_GB/LC_MESSAGES/django.po
  django/trainerdex/locale/en_US/LC_MESSAGES/django.po
  django/trainerdex/locale/es_ES/LC_MESSAGES/django.po
  django/trainerdex/locale/fr_FR/LC_MESSAGES/django.po
  django/trainerdex/locale/it_IT/LC_MESSAGES/django.po
  django/trainerdex/locale/ja_JP/LC_MESSAGES/django.po
  django/trainerdex/locale/ko_KR/LC_MESSAGES/django.po
  django/trainerdex/locale/pt_BR/LC_MESSAGES/django.po
  django/trainerdex/locale/ru_RU/LC_MESSAGES/django.po
  django/trainerdex/locale/th_TH/LC_MESSAGES/django.po
  django/trainerdex/locale/zh_HK/LC_MESSAGES/django.po
  trainerdex/locale/de_DE/LC_MESSAGES/django.po
  trainerdex/locale/en_GB/LC_MESSAGES/django.po
  trainerdex/locale/en_US/LC_MESSAGES/django.po
  trainerdex/locale/es_ES/LC_MESSAGES/django.po
  trainerdex/locale/fr_FR/LC_MESSAGES/django.po
  trainerdex/locale/it_IT/LC_MESSAGES/django.po
  trainerdex/locale/ja_JP/LC_MESSAGES/django.po
  trainerdex/locale/ko_KR/LC_MESSAGES/django.po
  trainerdex/locale/nl_BE/LC_MESSAGES/django.po
  trainerdex/locale/pt_BR/LC_MESSAGES/django.po
  trainerdex/locale/ru_RU/LC_MESSAGES/django.po
  trainerdex/locale/th_TH/LC_MESSAGES/django.po
  trainerdex/locale/zh_HK/LC_MESSAGES/django.po
Labels: none

Disable Crowdin
  .github/workflows/crowdin.yml
Labels: none

Add db sslmode setting
  .env.example
  zapdos/config/settings.py
Labels: none

Move Community
  zapdos/community/__init__.py
  zapdos/community/admin.py
  zapdos/community/apps.py
  zapdos/community/migrations/__init__.py
  zapdos/community/models.py
  zapdos/community/tests.py
  zapdos/community/views.py
  zapdos/config/settings.py
  zapdos/pokemongo/admin.py
  zapdos/pokemongo/models.py
  zapdos/pokemongo/views.py
Labels: backend

Build new messages
  zapdos/config/locale/de_DE/LC_MESSAGES/django.po
  zapdos/config/locale/en_GB/LC_MESSAGES/django.po
  zapdos/config/locale/en_US/LC_MESSAGES/django.po
  zapdos/config/locale/es_ES/LC_MESSAGES/django.po
  zapdos/config/locale/fr_FR/LC_MESSAGES/django.po
  zapdos/config/locale/it_IT/LC_MESSAGES/django.po
  zapdos/config/locale/ja_JP/LC_MESSAGES/django.po
  zapdos/config/locale/ko_KR/LC_MESSAGES/django.po
  zapdos/config/locale/nl_BE/LC_MESSAGES/django.po
  zapdos/config/locale/pt_BR/LC_MESSAGES/django.po
  zapdos/config/locale/ru_RU/LC_MESSAGES/django.po
  zapdos/config/locale/th_TH/LC_MESSAGES/django.po
  zapdos/config/locale/zh_HK/LC_MESSAGES/django.po
Labels: none

Remove unused strings
  zapdos/config/locale/de_DE/LC_MESSAGES/django.po
  zapdos/config/locale/en_GB/LC_MESSAGES/django.po
  zapdos/config/locale/en_US/LC_MESSAGES/django.po
  zapdos/config/locale/es_ES/LC_MESSAGES/django.po
  zapdos/config/locale/fr_FR/LC_MESSAGES/django.po
  zapdos/config/locale/it_IT/LC_MESSAGES/django.po
  zapdos/config/locale/ja_JP/LC_MESSAGES/django.po
  zapdos/config/locale/ko_KR/LC_MESSAGES/django.po
  zapdos/config/locale/nl_BE/LC_MESSAGES/django.po
  zapdos/config/locale/pt_BR/LC_MESSAGES/django.po
  zapdos/config/locale/ru_RU/LC_MESSAGES/django.po
  zapdos/config/locale/th_TH/LC_MESSAGES/django.po
  zapdos/config/locale/zh_HK/LC_MESSAGES/django.po
  zapdos/pokemongo/strings.py
Labels: none

Deleted translation using Weblate (English (United Kingdom))
  zapdos/config/locale/en_GB/LC_MESSAGES/django.po
Labels: none

Deleted translation using Weblate (English (United States))
  zapdos/config/locale/en_US/LC_MESSAGES/django.po
Labels: none

Deleted translation using Weblate (English (United Kingdom))
  zapdos/config/locale/en_GB/LC_MESSAGES/django.po
Labels: none

Deleted translation using Weblate (English (United States))
  zapdos/config/locale/en_US/LC_MESSAGES/django.po
Labels: none

Translated using Weblate (Italian)
  zapdos/config/locale/de_DE/LC_MESSAGES/django.po
  zapdos/config/locale/fr_FR/LC_MESSAGES/django.po
  zapdos/config/locale/it_IT/LC_MESSAGES/django.po
Labels: none

Translated using Weblate (Italian)
  zapdos/config/locale/de_DE/LC_MESSAGES/django.po
  zapdos/config/locale/fr_FR/LC_MESSAGES/django.po
  zapdos/config/locale/it_IT/LC_MESSAGES/django.po
Labels: none

Add Discord Community stuffs
  Pipfile
  Pipfile.lock
  zapdos/community/discord/constants.py
  zapdos/community/discord/enums.py
  zapdos/community/discord/fields.py
  zapdos/community/discord/models.py
  zapdos/community/discord/utils.py
  zapdos/community/models.py
  zapdos/config/settings.py
Labels: none

Transform dicts
  zapdos/community/discord/enums.py
  zapdos/community/discord/fields.py
  zapdos/community/discord/models.py
  zapdos/community/discord/utils.py
  zapdos/community/tests.py
Labels: none

Add features for refresh from API and migrations
  zapdos/community/admin.py
  zapdos/community/discord/__init__.py
  zapdos/community/discord/constants.py
  zapdos/community/discord/exceptions.py
  zapdos/community/discord/http.py
  zapdos/community/discord/models.py
  zapdos/community/migrations/0001_initial.py
  zapdos/community/models.py
  zapdos/pokemongo/migrations/0002_delete_community.py
Labels: migrations

Add Admin stuff
  zapdos/community/admin.py
  zapdos/community/discord/http.py
  zapdos/community/discord/models.py
  zapdos/community/migrations/0002_auto_20211227_1734.py
  zapdos/community/models.py
  zapdos/config/settings.py
Labels: none

More Admin Stuff
  zapdos/common/admin.py
Labels: none

Add permissions
  zapdos/common/migrations/0003_auto_20211228_1824.py
  zapdos/common/models.py
  zapdos/pokemongo/migrations/0003_alter_faction_options.py
  zapdos/pokemongo/models.py
Labels: backend, migrations

Fix URLs
  zapdos/common/static/css/mdl.css
  zapdos/common/templates/404.html
  zapdos/common/templates/account/account_inactive.html
  zapdos/common/templates/account/signup_closed.html
  zapdos/common/templates/base.html
  zapdos/common/templates/privacy.html
  zapdos/common/templates/terms.html
  zapdos/pokemongo/management/commands/post_announcement.py
Labels: none

Fix URLs
  django/core/static/css/mdl.css
  django/core/templates/404.html
  django/core/templates/account/account_inactive.html
  django/core/templates/account/signup_closed.html
  django/core/templates/base.html
  django/core/templates/privacy.html
  django/core/templates/terms.html
  django/pokemongo/management/commands/post_announcement.py
Labels: none

Update readme.md
  readme.md
Labels: none

Update readme.md
  readme.md
Labels: none

Fix staticfiles
  django/trainerdex/settings.py
Labels: none

Update pipfile
  Pipfile
  Pipfile.lock
Labels: none

Add silky, fix deps
  Pipfile
  Pipfile.lock
  trainerdex/settings.py
  trainerdex/urls.py
Labels: none

Leaderboard optimisations
  pokemongo/api/v1/views.py
  pokemongo/models.py
Labels: none

Fix assignment
  pokemongo/models.py
Labels: none

Fix annotation
  pokemongo/models.py
Labels: none

Remove only statement
  pokemongo/api/v1/views.py
Labels: none

Revert typo
  pokemongo/models.py
Labels: none

Fix workflows
  .github/workflows/django.yml
  .github/workflows/lint.yml
Labels: none

Fix property
  pokemongo/api/v1/serializers.py
Labels: none

Potentially fix prefetch query
  pokemongo/api/v1/views.py
  pokemongo/models.py
Labels: none
