Repository TrainerDex/Website, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, frontend, gains, backend, migrations

.github/labeler.yml:

dependencies:
  - Pipfile
  - Pipfile.lock

frontend:
  - "backend/core/templates/**/*"
  - "backend/core/static/**/*"
  - "backend/pokemongo/templates/**/*"
  - "backend/pokemongo/static/**/*"
  - "frontend/"

gains:
  - "backend/core/management/commands/gains_leaderboard.py"
  - "backend/core/management/commands/post_announcement.py"

backend:
  - "backend/core/*.py"
  - "backend/pokemongo/api/**/*"
  - "backend/pokemongo/*.py"

migrations:
  - "backend/core/migrations/*"
  - "backend/pokemongo/migrations/*"

Add missing asset
  frontend/static/favicon.png
Labels: none

Set up rollup
  backend/Pipfile
  backend/Pipfile.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.png
  frontend/public/global.css
  frontend/public/index.html
  frontend/rollup.config.js
  frontend/src/app.d.ts
  frontend/src/app.html
  frontend/src/routes/Leaderboard.svelte
  frontend/src/routes/Leaderboard.ts
  frontend/svelte.config.js
  frontend/tsconfig.json
Labels: none

Update typescript
  frontend/package-lock.json
  frontend/package.json
Labels: none

Remove props
  frontend/public/index.html
  frontend/src/routes/Leaderboard.ts
Labels: none

Update reqs
  frontend/package-lock.json
Labels: none

Get it to work!
  backend/config/settings.py
  backend/core/templates/base.html
  backend/pokemongo/templates/leaderboard.html
  backend/pokemongo/urls.py
  backend/pokemongo/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.png
  frontend/public/global.css
  frontend/public/index.html
  frontend/rollup.config.js
  frontend/src/components/Leaderboard.svelte
  frontend/src/components/Leaderboard.ts
  frontend/src/components/Pagination.ts
  frontend/src/routes/Leaderboard.svelte
  frontend/tsconfig.json
Labels: frontend, backend

Fix GitHub workflow
  .github/workflows/django.yml
Labels: none

Fix deadlinks
  backend/core/sitemaps.py
  backend/core/templates/base.html
  backend/pokemongo/models.py
Labels: frontend, backend

Add Home page - pass stat url param through to Leaderboard
  backend/pokemongo/templates/home.html
  backend/pokemongo/urls.py
  backend/pokemongo/views.py
  frontend/rollup.config.js
  frontend/src/components/Home.svelte
  frontend/src/components/Home.svelte.ts
  frontend/src/components/Leaderboard.svelte
  frontend/src/components/Leaderboard.svelte.ts
  frontend/src/components/Leaderboard.ts
  frontend/src/components/Pagination.svelte.ts
  frontend/src/components/Pagination.ts
Labels: frontend, backend

const
  frontend/src/models/stats.ts
Labels: none

Paper
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Home.svelte
Labels: none

Refactor components
  backend/pokemongo/templates/home.html
  backend/pokemongo/templates/leaderboard.html
  frontend/src/components/Home.svelte.ts
  frontend/src/components/LargeLeaderboard.svelte
  frontend/src/components/LargeLeaderboard.svelte.ts
  frontend/src/components/Leaderboard.svelte.ts
  frontend/src/components/Pagination.svelte.ts
Labels: frontend

Improved homepage
  backend/pokemongo/templates/home.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Home.svelte
  frontend/src/components/Home.svelte.ts
  frontend/src/components/Leaderboard.svelte
Labels: frontend

Style
  frontend/src/components/Home.svelte
Labels: none

Refactor again
  backend/pokemongo/templates/leaderboard.html
  frontend/rollup.config.js
  frontend/src/components/LargeLeaderboard.svelte.ts
  frontend/src/components/LeaderboardComponent.svelte
  frontend/src/pages/Home.svelte
  frontend/src/pages/Home.svelte.ts
  frontend/src/pages/Leaderboard.svelte
  frontend/src/pages/Leaderboard.svelte.ts
Labels: frontend

Update Google AdSense Code
  core/templates/base.html
Labels: none

Update version tagging
  Pipfile
  Pipfile.lock
  config/__init__.py
Labels: dependencies

Who am I kidding?
  readme.md
Labels: none

Add OCR endpoint
  .vscode/launch.json
  Pipfile
  Pipfile.lock
  config/urls.py
  ocr/__init__.py
  ocr/urls.py
  ocr/views.py
Labels: dependencies

Fix status
  ocr/views.py
Labels: none

Start dockerfile
  Dockerfile
Labels: none

Migrate and run gunicorn
  Dockerfile
Labels: none

Command out runtime commands from build time script?
  Dockerfile
Labels: none

Install tesseract-ocr-all
  Dockerfile
Labels: none

Add entrypoint
  Dockerfile
  entrypoint.sh
Labels: none

Remove git versioning
  Pipfile
  Pipfile.lock
  config/__init__.py
  config/context_processors.py
  config/settings.py
  core/templates/base.html
Labels: dependencies

Remove Verification and Screenshot fields
  pokemongo/admin.py
  pokemongo/forms.py
  pokemongo/migrations/0001_squashed_initial.py
  pokemongo/migrations/0012_rm_saved_images.py
  pokemongo/models.py
  pokemongo/views.py
Labels: none

Remove unused property
  pokemongo/models.py
Labels: none

Allow trainer level to be set
  pokemongo/admin.py
  pokemongo/api/v1/serializers.py
  pokemongo/api/v1/views.py
  pokemongo/forms.py
  pokemongo/migrations/0013_add_trainer_level.py
  pokemongo/models.py
  pokemongo/templates/leaderboard.html
  pokemongo/templates/profile.html
  pokemongo/views.py
Labels: none

Add worker count var
  entrypoint.sh
Labels: none

Don't check levels if no xp
  pokemongo/models.py
Labels: none

Remove print statements
  core/utils/discord/__init__.py
  pokemongo/models.py
Labels: none

Remove more print statements
  ocr/views.py
Labels: none

Add str method for debugging
  ocr/views.py
Labels: none

Split image and image_rgb, incase we want to fuck with the image some
  ocr/views.py
Labels: none

Add methods
  ocr/views.py
Labels: none

More debug
  ocr/views.py
Labels: none

Improve verbage
  ocr/views.py
Labels: none

Fix if check
  ocr/views.py
Labels: none

Add debug methods
  ocr/views.py
Labels: none
